

services:
  postgres:
    image: postgres:15
    container_name: finance-postgres
    environment:
      POSTGRES_DB: financeapi
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: custo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - finance-network

  kafka:
    image: confluentinc/cp-kafka:7.0.1
    container_name: finance-kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    networks:
      - finance-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    container_name: finance-zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - finance-network

  finance-api:
    build: .
    container_name: finance-api
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/financeapi
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: custo
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

    depends_on:
      - postgres
      - kafka
    networks:
      - finance-network

volumes:
  postgres_data:

networks:
  finance-network:
